
<div class="container">
    <div id="titulo">
        <p class="lead">Captura el Permiso.</p>
    </div>
    <div class="row">
        <div class="col-md-12 order-md-1">
            <form id="captura-permiso-datos" class="needs-validation" novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <label for="nombre">Permiso</label>
                        <input type="text" class="form-control" name="nombre" placeholder="" value="" required>
                    </div>
                </div>
                <hr>
                <div id="captura-permiso-notificacion">
                    Listo.
                </div>
            </form>
        </div>
    </div>
</div>

