<div class="container">
    <div id="titulo">
        <h2>Facturar Ruta</h2>
        <p class="lead">Datos de la Facturaci&oacute;n por Ruta</p>
    </div>
    <div class="row">
        <div class="col-md-12 order-md-1">
            <form id="ruta-datos">
                <h4 class="mb-3">Ruta</h4>
                <div class="row">
                    <div class="col-sm-2">
                        <label>Compa&ntilde;ia</label>
                        <input type="text" class="form-control" style="text-align: right;" name="compania" readonly>
                    </div>
                    <div class="col-sm-3">
                        <label>Estatus</label>
                        <select class="form-control" name="status" disabled>
                            <option value="PE">Pendiente</option>
                            <option value="IF">Inicio de Facturación</option>
                            <option value="TF">Terminada de Facturar</option>
                            <option value="FA">Facturada</option>
                            <option value="PD">Paquete Documental</option>
                            <option value="CE">Cerrada</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label>Fecha Status</label>
                        <input type="date" class="form-control" name="fechastatus" readonly>
                    </div>
                    <div class="col-sm-3">
                        <label>Ruta</label>
                        <div class="input-group invalid">
                            <input type="text" class="form-control" name="ruta">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-sm btn-outline-secondary" id="btn-ruta" onclick="filtroCampo(this, 'ruta');">
                                    <span class="fa fa-filter" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space-medium"></div>
                <div class="row">
                    <div class="col-sm-3">
                        <label>Fecha Creacion</label>
                        <input type="date" class="form-control" name="fechacreacion" readonly>
                    </div>
                    <div class="col-sm-3">
                        <label>Fecha Cierre</label>
                        <input type="date" class="form-control" name="fechacierre" readonly>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="space"></div>
    <div class="row">
        <div class="col-md-12 order-md-1">
            <h4 class="mb-3">Rutas</h4>
            <div class="row">
                <div class="col-sm-12" id="rutas">
                </div>
            </div>
            <div class="space-medium"></div>
            <div class="row">
                <div class="col-sm-6">
                    <form id="rutas-totales">
                        <div class="row">
                            <div class="col-sm-3">
                                <label>Pendientes:</label>
                                <input type="text" class="form-control" style="text-align: right;" name="tpendientes" readonly>
                            </div>
                            <div class="col-sm-3">
                                <label>En Proceso:</label>
                                <input type="text" class="form-control row-green" style="text-align: right;" name="tproceso" readonly>
                            </div>
                            <div class="col-sm-3">
                                <label>Facturadas:</label>
                                <input type="text" class="form-control row-blue" style="text-align: right;" name="tfacturadas" readonly>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row pull-right">
                        <div class="col-sm-12">
                            <div class="btn-group" role="group">
                                <!-- button class="btn btn-outline-primary" id="btn-cancela"
                                    onclick="cancelaOrdenSurtido(); return false;">
                                    <span class="fa fa-ban"></span> Cancelar
                                </button -->
                                <button class="btn btn-outline-primary" id="btn-detalles"
                                    onclick="detallesRuta(); return false;">
                                    <span class="fa fa-asterisk"></span> Detalles
                                </button>
                                <button class="btn btn-outline-primary" id="btn-facturar"
                                    onclick="facturarRuta(); return false;">
                                    <span class="fa fa-dollar"></span> Facturar
                                </button>
                                <button class="btn btn-outline-primary" id="btn-paquete-documental"
                                    onclick="paqueteDocumentalRuta(); return false;">
                                    <span class="fa fa-file-pdf-o"></span> Paquete Documental
                                </button>
                                <button class="btn btn-outline-primary" id="btn-cerrar"
                                    onclick="cerrarRuta(); return false;">
                                    <span class="fa fa-close"></span> Cerrar
                                </button>
                                <button class="btn btn-outline-primary" id="btn-actualizar"
                                    onclick="actualizaRutas(); return false;">
                                    <span class="fa fa-refresh"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="invisible" id="div-detalles">
        <div class="space"></div>
        <hr>
        <h3 class="mb-3">Facturas</h3>
        <div class="row">
            <div class="col-sm-12" id="detalles">
            </div>
        </div>
        <div class="space-medium"></div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group row pull-right">
                    <div class="col-sm-12">
                        <div class="btn-group" role="group">
                            <button class="btn btn-outline-primary" id="btn-consulta-existencia"
                                onclick="verMensaje(); return false;">
                                <span class="fa fa-eye"></span> Mensaje
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space"></div>
    <div class="space"></div>
    <div id="notificacion">
        Listo.
    </div>
    <div class="space"></div>
</div>
