
<div class="container">
    <div id="titulo">
        <p class="lead">Seleccione el Equipo de Surtido.</p>
    </div>
    <div class="row">
        <div class="col-md-12 order-md-1">
            <form id="buscar-surtidor-datos" class="needs-validation" novalidate>
                <input type="hidden" name="porcategoria" value="0">
                <div class="row">
                    <div class="col-md-12">
                        <label>Equipo de Surtido</label>
                        <select class="form-control" name="equipo" required>
                            <option value="">-- Seleccione una Opcion</option>
                        </select>
                    </div>
                </div>
                <hr>
                <div id="buscar-surtidor-notificacion">
                    Listo.
                </div>
            </form>
        </div>
    </div>
</div>

