
<div class="container">
    <div id="titulo">
        <p class="lead">Seleccione la Terminal.</p>
    </div>
    <div class="row">
        <div class="col-md-12 order-md-1">
            <form id="buscar-terminal-datos" class="needs-validation" novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <label for="terminal">Terminal</label>
                        <input type="text" class="form-control" name="terminal" placeholder="" value="" required>
                    </div>
                </div>
                <hr>
                <div id="buscar-terminal-notificacion">
                    Listo.
                </div>
            </form>
        </div>
    </div>
</div>

