<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
   version="4.0">
    <servlet>
        <servlet-name>ModelViewController</servlet-name>
        <servlet-class>com.atcloud.servlets.ModelViewController</servlet-class>
        <init-param>
            <param-name>mvcConfigFile</param-name>
            <param-value>/WEB-INF/mvc-controller.xml</param-value>
        </init-param>
        <init-param>
            <param-name>dataSourceName</param-name>
            <param-value>jdbc/reder</param-value>
        </init-param>
        <init-param>
            <param-name>sessionFailPage</param-name>
            <param-value>/wms/index.jsp</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ResponseController</servlet-name>
        <servlet-class>com.atcloud.servlets.ResponseController</servlet-class>
        <init-param>
            <param-name>dataSourceName</param-name>
            <param-value>jdbc/reder</param-value>
        </init-param>
        <init-param>
            <param-name>responseConfigFile</param-name>
            <param-value>/WEB-INF/response-controller.xml</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Log4JInitServlet</servlet-name>
        <servlet-class>com.atcloud.servlets.Log4JInitServlet</servlet-class>
        <init-param>
            <param-name>log4j-properties-location</param-name>
            <param-value>/WEB-INF/log4j.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.atcloud.servlets.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Descarga</servlet-name>
        <servlet-class>com.atcloud.servlets.DescargaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadCertificado</servlet-name>
        <servlet-class>mx.reder.wms.servlet.UploadCertificado</servlet-class>
    </servlet>
    <!-- servlet>
        <servlet-name>CargaInformacion</servlet-name>
        <servlet-class>mx.reder.wms.servlet.CargaInformacion</servlet-class>
    </servlet -->
    <servlet>
        <servlet-name>ExportadorExcel</servlet-name>
        <servlet-class>com.atcloud.servlets.ExportadorExcel</servlet-class>
        <init-param>
            <param-name>dataSourceName</param-name>
            <param-value>jdbc/reder</param-value>
        </init-param>
        <init-param>
            <param-name>exportadorImp</param-name>
            <param-value>mx.reder.wms.export.ExportadorExcelImp</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Reporteador</servlet-name>
        <servlet-class>com.atcloud.servlets.Reporteador</servlet-class>
        <init-param>
            <param-name>reporteadorImp</param-name>
            <param-value>mx.reder.wms.reports.ReporteadorImp</param-value>
        </init-param>
        <init-param>
            <param-name>dataSourceName</param-name>
            <param-value>jdbc/reder</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModelViewController</servlet-name>
        <url-pattern>/MVC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResponseController</servlet-name>
        <url-pattern>/ResponseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Descarga</servlet-name>
        <url-pattern>/Descarga</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadCertificado</servlet-name>
        <url-pattern>/UploadCertificado</url-pattern>
    </servlet-mapping>
    <!-- servlet-mapping>
        <servlet-name>CargaInformacion</servlet-name>
        <url-pattern>/CargaInformacion</url-pattern>
    </servlet-mapping -->
    <servlet-mapping>
        <servlet-name>ExportadorExcel</servlet-name>
        <url-pattern>/ExportadorExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reporteador</servlet-name>
        <url-pattern>/Reporteador</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>jdbc/reder</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
